doctype 5
html(lang='en')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery-1.7.2.min.js", type="text/javascript")

  
  body
    include header  
        
    block content
